/* start var */
:root
{
    --bg-gray : #f0f0f0;
    --orange : #d27e00; 
    --cyan : #255f6a;
    --green : #163939;
}
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
/* end var */
.body 
{
    width: 100%;
    height: 100vh;
    background-color: var(--bg-gray);
    display: flex;
    align-items: center;
}
.container {
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    background-color: #163939;
    height: fit-content;
    border-radius: 15px ;
    overflow: hidden;
    display: flex;
}
.container .box {
    width: calc(100% / 3);
    height: 100%;
    padding: 50px;
    color: var(--bg-gray);
}
.container .box h1 {
    font-family: 'Big Shoulders Display', cursive;
    font-size: 36px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.container .box p {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 18px;
    font-weight: 200;
    letter-spacing: 1px;
    white-space: 2px;
    line-height: 1.3;
}
.container .box .button {
    background-color: var(--bg-gray);
    padding: 15px;
    width: 150px;
    margin-top: 100px;
    text-align: center;
    font-family: 'Lexend Deca', sans-serif;
    border-radius: 30px;
    border: 3px solid var(--bg-gray);
    transition: 0.5s;
}

.box:first-child { background-color: var(--orange);}
.box .one{ color: var(--orange);}
.box:nth-child(2) { background-color: var(--cyan);}
.box .two{ color: var(--cyan);}
.box:last-child { background-color: var(--green);}
.box .three{ color: var(--green);}

.button:hover
{
    cursor: pointer;
    color: var(--bg-gray);
    background-color: red;
}
.box .one:hover{ background-color: var(--orange);}
.box .two:hover{ background-color: var(--cyan);}
.box .three:hover{ background-color: var(--green);}

/* // X-Small devices (portrait phones, less than 576px) */
@media (min-width: 575.98px) { .container { width: 540px; } }
/* // Small devices (landscape phones, less than 768px) */
@media (min-width: 767.98px) { .container { width: 720px;} }
/* // Medium devices (tablets, less than 992px) */
@media (min-width: 991.98px) { .container { width: 960px; } }
/* // Large devices (desktops, less than 1200px) */
@media (min-width: 1199.98px) { .container { width: 1140px; } }
/* // X-Large devices (large desktops, less than 1400px) */
@media (min-width: 1399.98px) { .container { width: 1320px; } }

@media (max-width:991px) {
    .body {height: 150vh;}
    .container { flex-direction: column; margin: 30px auto;}
    .container .box {width: 100%;}
    .container .box h1 {margin-top: 20px; margin-bottom: 20px; font-size: 30px;}
    .container .box p {margin-top: 20px; margin-bottom: 20px; font-size: 16px;}
    .container .box .button {margin-top: 30px;}
}